name: Heart VPN APK Builder
on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Flet CLI
        run: |
          pip install flet

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build Android APK
        run: |
          # Указываем путь именно к твоему файлу main-mobile.py
          flet build apk --project "HeartVPN" --main main-mobile.py

      - name: Upload HeartVPN APK
        uses: actions/upload-artifact@v4
        with:
          name: HeartVPN-Mobile-Build
          path: build/apk/*.apk
          retention-days: 7
