name: HeartVPN APK Build
on:
  push:
    branches: [ main ]

jobs:
  build_apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Flet
        run: pip install flet

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'
          channel: 'stable'

      - name: Build APK
        run: |
          # --yes 
          flet build apk main-mobile.py --project "HeartVPN" --yes

      - name: Save APK as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Heart-VPN-Mobile
          path: build/apk/*.apk
